.productContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.productRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.productCardContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  max-width: 400px;
  min-width: 298px;
}

.productCard {
  height: 100%;
}

.productTitle {
  align-self: flex-start;
  text-align: left;
}