@use "../../styles/constants.module.scss" as *;

.banner {
    background-color: $grey-secondary;
    width: 100%;
}

.bannerContent{
    padding: 3rem 0;
}

.description {
    @media (max-width: $bp-sm) {
    margin-top: 20px;
    }
}
