@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  --font-color-primary: #7b5d41;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--font-color-primary);
}

.btn-primary {
  background-color: var(--font-color-primary);
  color: white;
}
.nav-link {
  color: var(--font-color-primary);
}
