@use "../../styles/constants.module.scss" as *;


.copy {
  text-align: justify;
  padding: 24px 48px 24px 36px;
  border-left: 2px solid $font-color-primary;
}

.copyContainer {
  margin: 40px 0;
  
}
