@use "../../styles/constants.module.scss" as *;

.navLinkContainer {
  align-items: center;

  & > * {
    margin: 0 1.4rem;
  }
}

.menuItem {
  display: inline-block;
  margin-left: 30px;
  position: relative;

  a,
  .dropDownItem {
    display: block;
    padding: 12px 0;
    color: $font-color-primary;
    text-transform: capitalize;
    transition: all 0.3s ease;
    cursor: pointer;
  }
}

.downArrow {
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.menuItem:hover > .dropDownItem .downArrow {
  transform: rotate(180deg);
  color: $black-color-light;
}

.menuItem:hover > a {
  color: $black-color-light;
}

.subMenu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  border-top: 3px solid $font-color-primary;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  margin: 0;
}

.subMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menuItemHasChildren:hover .subMenu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/* Responsive */
@media (max-width: 991px) {
  .menuItem {
    display: block;
    margin: 0;
    text-align: center;

    a {
      color: $font-color-primary;
      text-transform: capitalize;
      transition: all 0.3s ease;
      padding: 12px 15px; 
    }

    &:hover {
      a .downArrow {
        transform: none;
      }
    }
  }

  .subMenu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }

  .subMenu.active {
    max-height: 300px;
  }
}
