@use "../../styles/constants.module.scss" as *;

.captionContainer {
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  border-radius: 6px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.5rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  
  @media (max-width: $bp-lg) {
    height: 700px;
  }
  
  @media (max-width: $bp-md) {
    height: 600px;
  }
  
  @media (max-width: $bp-sm) {
    height: 550px;
 
  }
}
